* {
    padding: 0;
    margin: 0;
}

:root {
    --gray-10: #181818;
    --gray-9: #1f1f1f;
    --gray-65: #525252;
}

html,
body {
    height: 100%;
    background-color: var(--gray-10);
    scroll-behavior: smooth;
}

body {
    margin: 0;
}

.container {
    max-width: 55%;
    margin: 0 auto;
    /* padding: 0 2rem; */
}

/* Navbar */
.navbar {
    width: 55%;
    margin: auto;
    /* padding: 0 2rem; */
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 1.5rem;
}

.navbar-toggler-icon {
    background-image: url('data:image/svg+xml;charset=utf8,%3Csvg viewBox="0 0 30 30" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath stroke="white" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10" d="M4 7h22M4 15h22M4 23h22" /%3E%3C/svg%3E');
}

.nav-link {
    color: wheat;
    opacity: 80%;
    text-decoration: none;
    font-size: 1.15rem;
    margin: 0.5rem;
    transition: opacity 0.3s ease, color 0s ease;
}

.nav-link:hover {
    /* color: white; */
    color: wheat;
    opacity: 90%;
    /* letter-spacing: 0.02rem; */
}

#download-btn{
    color: rgb(220, 220, 107);
    transition: color 0.3s ease;
    font-style: italic;
    font-family: "Playfair Display", serif;
}

#download-btn:hover {
    color: yellow;
    opacity: 90%;
}

/* CONTENT */

#home {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 6rem;
}

.intro-text h5 {
    font-size: 1.1rem;
    font-family: "Merriweather", serif;
    color: wheat;
    opacity: 70%;
    word-spacing: 0.1rem;
}

.intro-text {
    display: block;
    margin-left: 2rem;
}

.intro-text h5 #highlight {
    opacity: 100%;
    font-weight: 700;
    font-size: 1.3rem;
}

.intro-text h1 {
    font-size: 6.5rem;
    font-family: "Playfair Display", serif;
    font-weight: 600;
    letter-spacing: 0.1rem;
    color: wheat;
}

.intro-image {
    max-width: 100%;
    height: auto;
    width: 15rem;
    margin-right: 2rem;
}

.gif-container {
    display: none;
}

/* Articles Section */

#articles {
    margin-top: 5rem;
    color: wheat;
}

#articles h2 {
    font-family: "Playfair Display", serif;
    letter-spacing: 0.05rem;
    font-size: 2rem;
    margin-bottom: 2rem;
}

.article-list {
    list-style: none;
    padding: 0;
}

.article-list li {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5rem;
}

.article-list li:hover {
    cursor: pointer;
}

.article-list a {
    text-decoration: none;
    font-family: "Merriweather", serif;
    letter-spacing: 0.05rem;
    color: wheat;
    font-size: 1.05rem;
    opacity: 80%;
    transition: opacity 0.3s ease;
}

.article-list li:hover a {
    opacity: 90%;
}

.article-date {
    color: wheat;
    font-family: "Merriweather", serif;
    font-style: italic;
    font-size: 0.9rem;
    margin-left: 1rem;
    opacity: 40%;
    transition: opacity 0.3s ease;
}

.article-list li:hover .article-date {
    opacity: 60%;
}

.articles-divider {
    border: 1px solid wheat;
    opacity: 0.05;
    margin-top: 0.2rem;
}

/* Projects Section */

#projects {
    margin-top: 5rem;
    color: wheat;
}

#projects h2 {
    font-family: "Merriweather", serif;
    font-size: 2rem;
    margin-bottom: 2rem;
}

.project-list {
    list-style: none;
    padding: 0;
}

.project-list li {
    margin-bottom: 0.5rem;
}

.project-list li:hover {
    cursor: pointer;
}

.project-list a {
    text-decoration: none;
    font-family: "Merriweather", serif;
    letter-spacing: 0.05rem;
    color: wheat;
    font-size: 1.10rem;
    letter-spacing: 0.04rem;
    opacity: 80%;
    transition: opacity 0.3s ease, font-size 0.3s ease;
}

.project-list li:hover a {
    opacity: 90%;
    /* font-size: 1.11rem; */
}

.project-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.4rem;
}

.project-techstack {
    color: wheat;
    font-size: 0.9rem;
    font-family: "Merriweather", serif;
    font-style: italic;
    margin-left: 1rem;
    opacity: 40%;
    transition: opacity 0.3s ease, font-size 0.3s ease;
}

.project-list li:hover .project-techstack {
    opacity: 60%;
    /* font-size: 0.91rem; */
}

.project-description {
    font-family: "Merriweather", serif;
    color: wheat;
    font-size: 0.9rem;
    opacity: 30%;
    transition: opacity 0.3s ease, font-size 0.3s ease;
}

.project-list li:hover .project-description {
    opacity: 65%;
    /* font-size: 0.91rem; */
}

.projects-divider {
    border: 1px solid wheat;
    opacity: 0.05;
    margin-top: 0.2rem;
}

/* DISCOGRAPHY */

#discography {
    margin-top: 5rem;
    color: wheat;
}

#discography h2 {
    font-family: "Merriweather", serif;
    font-size: 2rem;
    margin-bottom: 2rem;
}

.discography-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 1.5rem;
    padding: 0;
    list-style: none;
    margin: 0 auto;
    max-width: 1200px;
}

.discography-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--gray-9);
    border-radius: 8px;
    padding: 0.8rem;
    overflow: hidden;
}

.discography-poster {
    width: 100%;
    height: auto;
    border-radius: 4px;
}

.discography-card a {
    text-decoration: none;
    color: inherit;
}

/* MOVIES */

#movies {
    margin-top: 5rem;
    color: wheat;
}

#movies h2 {
    font-family: "Merriweather", serif;
    font-size: 2rem;
    margin-bottom: 2rem;
}

.movie-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 1.5rem;
    padding: 0;
    list-style: none;
    margin: 0 auto;
    max-width: 1200px;
}

.movie-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--gray-9);
    border-radius: 8px;
    padding: 0.8rem;
    overflow: hidden;
}

.movie-poster {
    width: 100%;
    height: auto;
    border-radius: 4px;
}

.movie-title {
    font-family: "Merriweather", serif;
    font-size: 1rem;
    color: wheat;
    margin-top: 0.7rem;
    margin-bottom: 0rem;
    opacity: 80%;
    text-align: center;
}

.movie-card a {
    text-decoration: none;
    color: inherit;
}

/* FOOTER */

footer {
    position: relative;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: var(--gray-10);
    padding: 1rem 0;
    margin-top: 4rem;
}

.icons a {
    color: wheat !important;
    transition: color 0.3s ease !important;
}

.icons a:hover {
    color: white !important;
}

/* RESPONSIVENESS */
@media (max-width: 576px) {
    .navbar {
        width: 100%;
    }

    .nav-link {
        font-size: 1rem;
    }

    .container {
        max-width: 100%;
    }

    #home {
        margin-top: 3rem;
        flex-direction: column;
        align-items: normal;
    }

    .intro-text h5 {
        font-size: 0.9rem;
        word-spacing: 0.1rem;
    }

    .intro-text h5 #highlight {
        font-size: 1.1rem;
    }

    .intro-text h1 {
        font-size: 5.5rem;
        letter-spacing: 0.1rem;
    }

    .intro-image {
        display: none;
    }

    #articles {
        margin-top: 3rem;
    }

    #articles h2{
        text-align: center;
        font-size: 1.5rem;
        margin-bottom: 1.9rem;
    }

    .article-list li{
        flex-direction: column;
    }

    .article-list a{
        font-size: 0.80rem;
    }

    .article-date{
        font-size: 0.70rem;
        margin-left: 0rem;
    }

    #projects {
        margin-top: 3rem;
    }

    #projects h2{
        text-align: center;
        font-size: 1.5rem;
        margin-bottom: 1.5rem;
    }

    .project-header {
        display: block;
    }

    .project-list a{
        font-size: 0.85rem;
    }

    .project-techstack {
        margin-left: 0;
        display: block;
        text-align: left;
        font-size: 0.70rem;
        margin-top: 0.3rem;
        margin-bottom: 0.3rem;
    }

    .project-description{
        font-size: 0.8rem;
    }

    #movies {
        margin-top: 3rem;
    }
    
    #movies h2 {
        text-align: center;
        font-size: 1.5rem;
        margin-bottom: 1.5rem;
    }
    
    .movie-list {
        grid-template-columns: repeat(4, 1fr);
        gap: 1rem;
    }

    .movie-card {
        padding: 0.4rem;
    }

    .movie-poster {
        max-width: 100px;
        height: auto;
    }

    footer{
        margin-top: 2rem;
    }
}